.stButton > button {
    background-color: #3498db; /* Cor de fundo */
    color: #fff; /* Cor do texto */
    padding: 10px 20px; /* Espaçamento interno (ajuste conforme necessário) */
    border: none; /* Sem borda */
    border-radius: 5px; /* Cantos arredondados */
    font-size: 16px; /* Tamanho da fonte */
    cursor: pointer; /* Cursor de mão ao passar o mouse */
    transition: background-color 0.3s ease; /* Transição suave da cor de fundo */
}

.stButton > button:hover {
    background-color: #2e86c1;
    color: #fff;
}

.stButton > button:active {
    background-color: #2e86c1; /* Cor de fundo enquanto clicado */
    color: #fff; /* Cor do texto enquanto clicado */
}
